/* #region Base style */
body {font-family: Roboto, sans-serif;
    color: #434455;
background-color: #FFFFFF;}
a {text-decoration: none;}
ul, ol {list-style-type: none;}
h1, h2, h3, h4, h5, h6, p, {
    margin: 0;
}
ul,
ol {margin: 0;
    padding: 0;}
img {display: block;}

/* #endregion */

/* #region Header style */
.logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
    
.logo-black {color: #2e2f42;}
.white-logo {color: #f4f4fd;}
.nav-container {}
.address-container {}
.header-container {display: flex;
    align-items: center;
    }
.header {border-bottom: 1px solid #e7e9fc;}

.nav {display: flex;
align-items: center;}

.header-list {
display: flex;
gap: 40px;
margin-right: 332px;
}

.header-item 

.header-link {
    display: block;
padding-top: 24px;
padding-bottom: 24px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.header-link:hover {color: #404bbf;}
.header-link:focus {color: #404bbf;}
.active:active {color: #404bbf;}

.address {font-style: normal;
}

.address-list {
display: flex;
gap: 40px;}

.address-item {}

.address-link {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.address-link:hover {color: #404bbf;}
.address-link:focus {color: #404bbf;}
/* #endregion */

/* #region Common */
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.center {
    text-align: center;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {padding-top: 120px;
padding-bottom: 120px;}
/* #endregion */

/* #region Hero style */
.hero {
    background-color: #2e2f42;
}

.hero-title {
    width: 496px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-container {padding-bottom: 188px;}
.button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.button:hover {background-color: #404BBF;}
.button:focus {background-color: #404BBF;}
/* #endregion */

/* #region Benefits */
.benefits-title {}

.benefits-subtitle {margin-bottom: 8px;}

.benefits-list {display: flex;
    gap: 24px;
    justify-content: center;
}

.benefits-item {width: 264px;}

.benefits-text {}
/* #endregion */

/* #region Team */
.wrapper-team {
    background-color: #f4f4fd;
}
.team-title {
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-list {display: flex;
gap: 24px;}

.team-item {
    background-color: #fff;
}

.team-img {}

.team-text {}
/* #endregion */

/* #region Portfolio */
.portfolio {}

.portfolio-list {display: flex;
flex-wrap: wrap;
gap: 24px 48px;}

.portfolio-item {
    background-color: #fff;
}

.portfolio-img {}

.portfolio-text {}
/* #endregion */

/* #region Footer */
.wrapper-footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #f4f4fd;
}
/* #endregion */
